<p class="ititle"><%= item.title %></p>
<div class="container" style="width: 100%">
  <div class="image_left"><%= image_tag(item.main_photo.image.url(:medium)) %></div>
  <div class="item_left"><%= item.content %></div>
</div>
<div style="clear: both">&nbsp</div>
<center>
<table class="table_white" border="0" cellpadding="0" cellspacing="10" width="100%">
 <tbody>
  <% for image in item.images %>
    <tr>
      <td>
        <center>
          <p style="margin-bottom: 5px; margin-top: 5px; font-size: 14px; width: 420px;"><%= image.title %></p>
          <%= image_tag(image.image.url(:gallery)) %>
        </center>
      </td>
    </tr>
   <% end %>
  </tbody>
</table>
</center>
<% if item.libraries.size > 0 %>
  <h2>Статьи по теме: </h2>
  <% for library in item.libraries %>
    <p><a href="<%= url_for(:controller => :main, :action => :libs, :id => library.id) %>"><%= library.title %></a></p>
  <% end %>
<% end %>

