<% content_for :header do %>
  <%= javascript_include_tag :defaults %>
<% end %>

<h3>Редактировать категорию</h3>

<% form_for(@category) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p>
    <%= f.submit 'Обновить' %>
  </p>
<% end %>

<% content_for :top_menu do %>
  <%= link_to 'Добавить', new_category_path %>
  <%= link_to 'Назад', :controller => :category_collections, :action => :index %>
<% end %>
