<% content_for :header do %>
    <%= javascript_include_tag :defaults %>
<% end %>

<% content_for :top_menu do %>
  <%= render :partial => "library_articles/templates/top_menu" %>
  <%= link_to 'Назад', library_articles_path %>
<% end %>

<h1>Обновить статью</h1>

<% form_for @library_article, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
      <%= f.label :title, "Заголовок:" %>
      <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :meta_keywords, "Мета слова(meta keywords):" %>
  </p>
  <p>
    <%= f.text_area :meta_keywords, :rows => 5, :style => "width: 100%" %>
  </p>
  <p>
    <%= f.label :meta_description, "Мета описание(meta description):" %>
  </p>
  <p>
    <%= f.text_area :meta_description, :rows => 5, :style => "width: 100%" %>
  </p>
  <p>
    <%= f.select(:library_category_id, @categories.collect {|category| [category.title, category.id]}) %>
  </p>
  <div>
    <p>
      Краткое описание(под ссылкой в библиотеке)
    </p>
    <%= f.text_area :description, :class => "mceEditor" %>
  </div>
  <div>
    <p>
      Содержание:
    </p>
    <%= f.text_area :content, :style => "width: 100%", :class => "mceEditor" %>
  </div>
  <p><%= f.submit "Обновить" %></p>
<% end %>
